<div class="card mt-3">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title mb-0">{{title}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <div class="list-group-item" *ngIf="exchangeList.length === 0">
      <p class="mb-0">{{notAvailableText}}</p>
    </div>
    <div
      class="list-group-item"
      *ngFor="let exchange of exchangeList">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{exchange.exchangeName}}</h5>
        <small>{{exchange.exchangeDate}}</small>
      </div>
      <p class="mb-1">
        {{exchange.exchangeDescription}}
      </p>
      <small class="d-block">{{exchange.participantList.length}} invitados</small>
      <button class="btn btn-link text-primary pl-0"
              [routerLink]="['../exchange', exchange.accessCode]"
              >Ver</button>
      <button class="btn btn-link text-primary pl-0"
              (click)="onEditExchange(exchange)"
              *ngIf="canEdit"
      >Editar</button>
      <button class="btn btn-link text-danger"
              (click)="onDeleteExchange(exchange)"
              *ngIf="canEdit">Eliminar</button>
    </div>
  </ul>
  <div class="card-body" *ngIf="canEdit">
    <button class="btn btn-link p-0" (click)="onAddExchange()">Añadir intercambio</button>
  </div>
</div>
