<div class="card">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title">Intercambios creados</h5>
    <p class="card-text">Aquí puedes ver la lista de los intercambios que has creado.</p>
  </div>
  <ul class="list-group list-group-flush">
    <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Intercambio familiar</h5>
        <small>24/12/2018</small>
      </div>
      <p class="mb-1">
        Intercambio de navidad para con la familia
      </p>
      <small>16 invitados</small>
    </a>
    <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Intercambio con amigos</h5>
        <small>18/12/2018</small>
      </div>
      <p class="mb-1">
        Intercambio de navidad con amigos
      </p>
      <small>8 invitados</small>
    </a>
  </ul>
  <div class="card-body">
    <a href="" class="card-link">Añadir intercambios</a>
  </div>
</div>
