<div class="card">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title mb-0">Intercambios creados</h5>
  </div>
  <ul class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let item of [1, 2, 3, 4, 5, 6]"
      [routerLink]="['../exchange', item]">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Intercambio {{item}}</h5>
        <small>24/12/2018</small>
      </div>
      <p class="mb-1">
        Descripción del intercambio {{item}}
      </p>
      <small>16 invitados</small>
    </a>
  </ul>
  <div class="card-body">
    <button class="btn btn-link p-0" (click)="onAddExchange()">Añadir intercambio</button>
  </div>
</div>
