<div class="card">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title m-0">Lista de amigos</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="friendList.length === 0">
      <p class="m-0">Aún no has agregado amigos.</p>
    </li>
    <li class="list-group-item py-1 d-flex w-100 justify-content-between align-items-center" *ngFor="let friend of friendList">
      <p class="mb-0">{{friend.firstName}} {{friend.lastName}}</p>
      <small class="text-muted">({{friend.alias}})</small>
    </li>
  </ul>
  <div class="card-body">
    <button class="btn btn-link p-0" (click)="onAddFriend()">Añadir amigo</button>
  </div>
</div>
