<div class="modal-header">
  <h4 class="modal-title pull-left">Añadir intercambio</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="p-1" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="exchangeName">Nombre del intercambio</label>
      <input type="text"
             class="form-control" placeholder="Ingresa el nombre del intercambio" id="exchangeName"
             name="exchangeName" required minlength="4"
             [(ngModel)]="exchange.exchangeName" #exchangeName="ngModel">
      <div *ngIf="f.submitted && exchangeName.invalid" class="alert alert-danger">
        <p *ngIf="exchangeName.errors.required" class="m-0">Este campo es requerido.</p>
        <p *ngIf="exchangeName.errors.minlength" class="m-0">El campo debe tener por lo menos 4 caracteres.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="exchangeDescription">Descripción del intercambio</label>
      <textarea class="form-control" placeholder="Ingresa la descripción del intercambio" id="exchangeDescription"
                name="exchangeDescription" [(ngModel)]="exchange.exchangeDescription" #exchangeDescription="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="maxAmount">Cantidad máxima a gastar</label>
      <input type="number"
             class="form-control" placeholder="Ingresa la cantidad máxima a gastar" id="maxAmount"
             name="maxAmount" required
             [(ngModel)]="exchange.maxAmount" #maxAmount="ngModel">
      <div *ngIf="f.submitted && maxAmount.invalid" class="alert alert-danger">
        <p *ngIf="maxAmount.errors.required" class="m-0">Este campo es requerido.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="limitDate">Fecha limite de registro</label>
      <input type="date"
             class="form-control" placeholder="Ingresa la fecha del intercambio" id="limitDate"
             name="limitDate" required
             [(ngModel)]="exchange.limitDate" #limitDate="ngModel"
              [appDateCompare]="today" [compare]="'after'">
      <div *ngIf="f.submitted && limitDate.invalid" class="alert alert-danger">
        <p *ngIf="limitDate.errors.required" class="m-0">Este campo es requerido.</p>
        <p *ngIf="limitDate.errors.compareError" class="m-0">{{limitDate.errors.compareError}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="exchangeDate">Fecha del intercambio</label>
      <input type="date"
             class="form-control" placeholder="Ingresa la fecha del intercambio" id="exchangeDate"
             name="exchangeDate" required
             [(ngModel)]="exchange.exchangeDate" #exchangeDate="ngModel"
             [appDateCompare]="getExchangeLimitDate()" [compare]="'after'">
      <div *ngIf="f.submitted && exchangeDate.invalid" class="alert alert-danger">
        <p *ngIf="exchangeDate.errors.required" class="m-0">Este campo es requerido.</p>
        <p *ngIf="exchangeDate.errors.compareError" class="m-0">{{exchangeDate.errors.compareError}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="theme">Añade temas de interés para regalos</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tema para regalo" name="theme" id="theme" [(ngModel)]="theme">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onAddTheme()">
            <i class="fa fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div *ngIf="f.submitted && exchange.giftThemes.length < 1" class="alert alert-danger">
        <p class="m-0">Debes añadir por lo menos un tema de interés.</p>
      </div>
    </div>
    <div class="w-100 mb-3" *ngIf="exchange.giftThemes.length > 0">
      <span class="badge badge-pill badge-primary mx-1"
            *ngFor="let theme of exchange.giftThemes; let i = index;"
            (click)="onRemoveTheme(i)">
        {{theme}}
      </span>
    </div>
    <p *ngIf="!edit">Participantes</p>
    <ul class="list-group mb-3 friend-list" *ngIf="!edit">
      <li class="list-group-item" *ngFor="let friend of friendList">
        <div class="form-check">
          <input type="checkbox"
             class="form-check-input"  id="friend-{{friend.id}}"
             [value]="friend.id"
             (change)="toggleSelectedFriend(friend.id, $event.target.checked)">
          <label class="form-check-label" for="friend-{{friend.id}}">
            <p class="m-0">{{friend.firstName}} {{friend.lastName}} <small class="text-muted">({{friend.alias}})</small></p>
            <small class="text-muted">{{friend.email}}</small>
          </label>
        </div>
      </li>
      <div *ngIf="!edit && f.submitted && exchange.participants.length < 2" class="alert alert-danger">
        <p class="m-0">Debes añadir por lo menos 2 participantes.</p>
      </div>
    </ul>
    <div *ngIf="f.submitted && requestError" class="alert alert-danger">
      <p class="m-0">{{requestError}}</p>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!edit">Añadir intercambio</button>
    <button type="submit" class="btn btn-primary" *ngIf="edit">Editar intercambio</button>
  </form>
</div>
