<div class="row">
  <div class="col-12 col-md-8 mt-md-0">
    <div class="card mt-3">
      <div class="card-header bg-primary text-white d-flex w-100 justify-content-between align-items-center">
        <h5 class="mb-1">{{exchange.exchangeName}}</h5>
        <small>24/12/2018</small>
      </div>
      <div class="card-body">
        <p>{{exchange.exchangeDescription}}</p>
        <p class="font-weight-bold mb-0">Fecha límite de registro</p>
        <p class="mt-0 text-muted">{{exchange.limitDate}}</p>
        <p class="font-weight-bold mb-0">Fecha del intercambio</p>
        <p class="mt-0 text-muted">{{exchange.exchangeDate}}</p>
        <p class="font-weight-bold">Temas de interés </p>
        <div class="w-100">
          <span class="badge badge-pill badge-primary mx-1" *ngFor="let theme of exchange.giftThemesList">
            {{theme}}
          </span>
        </div>
        <button class="btn btn-link mt-3 pl-0" *ngIf="isOwner" (click)="createPairs()">Hacer sorteo</button>
        <button class="btn btn-link text-danger mt-3 pl-0" *ngIf="!isOwner && participantEntity && participantEntity.acceptInvite" (click)="confirmUnsubscribe()">Salir del intercambio</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-md-0">
    <app-participants-list
      [participantList]="participantList"
      [isOwner]="isOwner"
      [exchange]="exchange"
    ></app-participants-list>
  </div>
</div>

