<div class="card m-3">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title m-0">Lista de participantes</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item py-1 d-flex w-100 justify-content-between align-items-center"
      *ngFor="let participant of participantList"
      >
      <div class="d-inline-block">
        <p class="m-0">{{participant.firstName}} {{participant.lastName}}</p>
        <small class="text-muted">({{participant.alias}})</small>
      </div>
      <div class="d-inline-block">
        <small class="text-danger" *ngIf="!participant.acceptInvite"><i class="fa fa-circle-o"></i></small>
        <small class="text-success" *ngIf="participant.acceptInvite"><i class="fa fa-circle"></i></small>
      </div>
    </li>
  </ul>
  <div class="card-body" *ngIf="isOwner">
    <button
      class="btn btn-link p-0"
      (click)="onAddParticipant()"
    >Añadir participante</button>
  </div>
</div>
