<div class="card my-3 w-100 mx-0">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title m-0">Lista de participantes</h5>
  </div>
  <div class="list-group list-group-flush w-100">
    <div
      class="list-group-item py-1"
      *ngFor="let participant of participantList"
      >
      <div class="w-100">
        <p class="m-0">{{participant.firstName}} {{participant.lastName}}</p>
        <small class="text-muted">({{participant.email}})</small>
      </div>
      <div class="w-100">
        <small class="text-danger" *ngIf="!participant.acceptInvite">
          <i class="fa fa-circle"></i>
          Sin registrar
        </small>
        <small class="text-success" *ngIf="participant.acceptInvite">
          <i class="fa fa-circle"></i>
          Registrado
        </small>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="isOwner">
    <button
      class="btn btn-link p-0"
      (click)="onAddParticipant()"
    >Añadir participante</button>
  </div>
</div>
